<!--  <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->
<div class="example-container mat-elevation-z8">
<mat-table #table [dataSource]="dataSource" >


  <ng-container matColumnDef="link">
    <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
    <mat-cell *matCellDef="let element"><a href="https://{{element.linkurl}}" target="_t1"> {{element.config_value}} </a> </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
               [pageIndex]=0
               [pageSize]=5
               [pageSizeOptions]="pageSizeOptions"
              >
               
</mat-paginator>
</div>