mat-table {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
   
}

@media only screen and (max-width: 441px)
{
    mat-table {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
       
    }
}