<!-- <div class="wrapper">
  <div class="sidebar-panel" id="sidebar" [style.background-color]="backgroundColor">

    <div class="sidebar-background" [style.background-image]="'url(../assets/img/sidebar-' + id + '.jpg)'"></div>
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel" id="main-panel">
    <router-outlet></router-outlet>
  </div>
</div>
 -->
<!--  <div class="example-container  fullheight" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar"  *ngIf="loggedIn">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon >menu</mat-icon></button>
      <h1 class="example-app-name">Dashboard </h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container " [ngClass]="boxheight"
                           [style.marginTop.px]="mobileQuery.matches ? 5 : 0">
          <mat-sidenav class="sidenav-width" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
              [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                <mat-nav-list>
                    <a mat-list-item routerLink="."  (click)="snav.toggle();routeto()">Index 1</a>
          <a mat-list-item routerLink="." (click)="snav.toggle();routesto(menuitem)"   *ngFor="let menuitem of menuList">{{menuitem.name}} </a>
          <a mat-list-item routerLink="." (click)="snav.toggle();routesdiff()">Calendar</a>
          <a mat-list-item routerLink="." (click)="snav.toggle();logout()"   >Logout</a>
        
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
   -->